In [9]:
import pandas as pd
import numpy as np
import re
import os

In [10]:
#MINDSCAN PREPROCESSSING

df_mind = pd.read_csv("KiÅŸi.1\Morning\ScanResult.csv")
df_mind

,obs,time,Delta,Theta,Alpha1,Alpha2,Beta1,Beta2,Gamma1,Gamma2,Attention,Meditation,Derived,totPwr,class,status
0,1,7.0,2267009.0,150639.0,29953.0,16276.0,17929.0,27728.0,4996.0,3009.0,NA,NA,NA,2517539.0,X*,1
1,2,9.0,2292835.0,259255.0,73195.0,36522.0,94386.0,146071.0,87552.0,18755.0,NA,NA,NA,3008571.0,X*,1
2,3,10.0,758440.0,142926.0,3258.0,3841.0,10312.0,16915.0,5253.0,1030.0,NA,NA,NA,941975.0,X*,1
3,4,14.0,1539783.0,227161.0,49762.0,161491.0,56240.0,70917.0,12068.0,1486.0,37,53,NA,2118908.0,X*,1
4,5,15.0,888538.0,101022.0,22291.0,46027.0,27886.0,11823.0,3484.0,2039.0,20,64,NA,1103110.0,X*,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1932,1803,1819.0,1284530.0,555875.0,64968.0,13971.0,20905.0,25132.0,27701.0,8154.0,34,48,NA,2001236.0,X,1
1933,1804,1820.0,13911.0,21853.0,13190.0,19952.0,19455.0,19727.0,21848.0,3530.0,23,56,NA,133466.0,X,1
1934,1805,1821.0,443682.0,137063.0,16096.0,35799.0,24256.0,30595.0,5231.0,5782.0,21,44,NA,698504.0,X,1
1935,1806,1822.0,127803.0,38558.0,5916.0,12388.0,8691.0,9006.0,2238.0,1984.0,37,40,NA,206584.0,X,1
1936,1807,1822.0,60686.0,92499.0,28721.0,28887.0,9970.0,15182.0,14279.0,4262.0,44,53,NA,254486.0,X,1

In [11]:
df_neuroScan = df_mind.copy()

In [12]:
df_neuroScan.drop(df_neuroScan.index, inplace=True)

In [13]:
df_neuroScan

Empty DataFrame
Columns: [obs,  time,  Delta,  Theta,  Alpha1,  Alpha2,  Beta1,  Beta2,  Gamma1,  Gamma2,  Attention,  Meditation,  Derived,  totPwr,  class , status]
Index: []

In [14]:
def dataCollection(importFile, exportFile, Hz, df_push):

    subject = ['KiÅŸi.1', 'KiÅŸi.2', 'KiÅŸi.3', 'KiÅŸi.4', 'KiÅŸi.5', 'KiÅŸi.6', 'KiÅŸi.7', 'KiÅŸi.8', 'KiÅŸi.9', 'KiÅŸi.10']
    instance=['Morning', 'Evening']

    for k in range(10):
        for s in range(2):        
            if s == 0:        
                filepath1=os.path.join(subject[k], instance[s], importFile)
                filepath2=os.path.join(subject[k], instance[s], exportFile)
            elif s == 1:
                filepath1=os.path.join(subject[k], instance[s], importFile)
                filepath2=os.path.join(subject[k], instance[s], exportFile)

            df_pull = pd.read_csv(filepath1)

            root = int(285*Hz)
            limit = root + int(30*Hz)
            for i in range(5):
                for j in range(root, limit):
                    entry = df_pull.iloc[[j], :]
                    df_push = df_push.append(entry,ignore_index=True)                
            
                root = root + int(300*Hz)
                limit = root + int(30*Hz)
            
            df_push.dropna(how='all', axis=1, inplace=True)
            df_push.to_csv(filepath2, index=False)
            df_push.drop(df_push.index, inplace=True)

In [15]:
dataCollection('ScanResult.csv', 'neuroScan.csv', 1, df_neuroScan)

C:\Users\Alper\AppData\Local\Temp\ipykernel_17452\2118299975.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
C:\Users\Alper\AppData\Local\Temp\ipykernel_17452\2118299975.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
C:\Users\Alper\AppData\Local\Temp\ipykernel_17452\2118299975.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
C:\Users\Alper\AppData\Local\Temp\ipykernel_17452\2118299975.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
C:\Users\Alper\AppData\Local\Temp\ipykernel_17452\2118299975.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
C:\Users\Alper\AppData\Local\Temp\ipykernel_17452\2118299975.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
C:\Users\Alper\AppData\Local\Temp\ipykernel_17452\2118299975.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
C:\Users\Alper\AppData\Local\Temp\ipykernel_17452\2118299975.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
C:\Users\Alper\AppData\Local\Temp\ipykernel_17452\2118299975.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
C:\Users\Alper\AppData\Local\Temp\ipykernel_17452\2118299975.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
C:\Users\Alper\AppData\Local\Temp\ipykernel_17452\2118299975.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
C:\Users\Alper\AppData\Local\Temp\ipykernel_17452\2118299975.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
C:\Users\Alper\AppData\Local\Temp\ipykernel_17452\2118299975.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
C:\Users\Alper\AppData\Local\Temp\ipykernel_17452\2118299975.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
C:\Users\Alper\AppData\Local\Temp\ipykernel_17452\2118299975.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
C:\Users\Alper\AppData\Local\Temp\ipykernel_17452\2118299975.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
C:\Users\Alper\AppData\Local\Temp\ipykernel_17452\2118299975.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
C:\Users\Alper\AppData\Local\Temp\ipykernel_17452\2118299975.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
C:\Users\Alper\AppData\Local\Temp\ipykernel_17452\2118299975.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
C:\Users\Alper\AppData\Local\Temp\ipykernel_17452\2118299975.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)

In [8]:
#BVP PREPROCESSING

df_BVP=pd.read_csv("KiÅŸi.1\Morning\BVP.csv")
df_BVP

        1667372808  status
0            64.00       0
1             0.00       0
2             0.00       0
3             0.00       0
4             0.00       0
...            ...     ...
116266      -90.80       0
116267      -64.75       0
116268      -46.70       0
116269      -38.27       0
116270      -38.84       0

[116271 rows x 2 columns]

In [9]:
BVP_KiÅŸi = df_BVP.copy()
BVP_KiÅŸi

        1667372808  status
0            64.00       0
1             0.00       0
2             0.00       0
3             0.00       0
4             0.00       0
...            ...     ...
116266      -90.80       0
116267      -64.75       0
116268      -46.70       0
116269      -38.27       0
116270      -38.84       0

[116271 rows x 2 columns]

In [10]:
BVP_KiÅŸi.drop(BVP_KiÅŸi.index, inplace=True)
BVP_KiÅŸi

Empty DataFrame
Columns: [1667372808, status]
Index: []

In [11]:
dataCollection('BVP.csv', 'BVPScan.csv', 64, BVP_KiÅŸi)

<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)

In [12]:
#ACC PREPROCESSING

df_ACC=pd.read_csv("KiÅŸi.1\Morning\ACC.csv")
df_ACC

       1667372808  1667372808.1  1667372808.2  status
0              32            32            32       0
1              41            17            47       0
2              41            17            47       0
3              41            17            47       0
4              41            17            47       0
...           ...           ...           ...     ...
58136          63            20             0       0
58137          62            21            -1       0
58138          61            21            -1       0
58139          59            21             1       0
58140          62            20             0       0

[58141 rows x 4 columns]

In [13]:
ACC_KiÅŸi = df_ACC.copy()
ACC_KiÅŸi

       1667372808  1667372808.1  1667372808.2  status
0              32            32            32       0
1              41            17            47       0
2              41            17            47       0
3              41            17            47       0
4              41            17            47       0
...           ...           ...           ...     ...
58136          63            20             0       0
58137          62            21            -1       0
58138          61            21            -1       0
58139          59            21             1       0
58140          62            20             0       0

[58141 rows x 4 columns]

In [14]:
ACC_KiÅŸi.drop(ACC_KiÅŸi.index, inplace=True)
ACC_KiÅŸi

Empty DataFrame
Columns: [1667372808, 1667372808.1, 1667372808.2, status]
Index: []

In [15]:
dataCollection('ACC.csv', 'ACCScan.csv', 32, ACC_KiÅŸi)

<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)

In [16]:
#EDA PREPROCESSING

df_EDA=pd.read_csv("KiÅŸi.1\Morning\EDA.csv")
df_EDA

      1667372808  status
0       4.000000       0
1       0.000000       0
2       0.832765       0
3       1.180231       0
4       1.549279       0
...          ...     ...
7262    1.213709       0
7263    1.218834       0
7264    1.222678       0
7265    1.240614       0
7266    1.230365       0

[7267 rows x 2 columns]

In [17]:
EDA_KiÅŸi = df_EDA.copy()
EDA_KiÅŸi

      1667372808  status
0       4.000000       0
1       0.000000       0
2       0.832765       0
3       1.180231       0
4       1.549279       0
...          ...     ...
7262    1.213709       0
7263    1.218834       0
7264    1.222678       0
7265    1.240614       0
7266    1.230365       0

[7267 rows x 2 columns]

In [18]:
EDA_KiÅŸi.drop(EDA_KiÅŸi.index, inplace=True)
EDA_KiÅŸi

Empty DataFrame
Columns: [1667372808, status]
Index: []

In [19]:
dataCollection('EDA.csv', 'EDAScan.csv', 4, EDA_KiÅŸi)

<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)

In [20]:
#TEMP PREPROCESSING

df_TEMP=pd.read_csv("KiÅŸi.1\Morning\TEMP.csv")
df_TEMP

      1667372808  status
0           4.00       0
1          35.37       0
2          35.37       0
3          35.37       0
4          35.37       0
...          ...     ...
7260       35.57       0
7261       35.57       0
7262       35.57       0
7263       35.57       0
7264       35.57       0

[7265 rows x 2 columns]

In [21]:
TEMP_KiÅŸi = df_TEMP.copy()
TEMP_KiÅŸi

      1667372808  status
0           4.00       0
1          35.37       0
2          35.37       0
3          35.37       0
4          35.37       0
...          ...     ...
7260       35.57       0
7261       35.57       0
7262       35.57       0
7263       35.57       0
7264       35.57       0

[7265 rows x 2 columns]

In [22]:
TEMP_KiÅŸi.drop(TEMP_KiÅŸi.index, inplace=True)
TEMP_KiÅŸi

Empty DataFrame
Columns: [1667372808, status]
Index: []

In [23]:
dataCollection('TEMP.csv', 'TEMPScan.csv', 4, TEMP_KiÅŸi)

<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)

In [24]:
#HR PREPROCESSING

df_HR=pd.read_csv("KiÅŸi.1\Morning\HR.csv")
df_HR

      1667372818  status
0           1.00       0
1          55.00       0
2          89.50       0
3         101.00       0
4          89.75       0
...          ...     ...
1803       78.30       0
1804       78.53       0
1805       78.75       0
1806       78.95       0
1807       79.12       0

[1808 rows x 2 columns]

In [25]:
HR_KiÅŸi = df_HR.copy()
HR_KiÅŸi

      1667372818  status
0           1.00       0
1          55.00       0
2          89.50       0
3         101.00       0
4          89.75       0
...          ...     ...
1803       78.30       0
1804       78.53       0
1805       78.75       0
1806       78.95       0
1807       79.12       0

[1808 rows x 2 columns]

In [26]:
HR_KiÅŸi.drop(HR_KiÅŸi.index, inplace=True)
HR_KiÅŸi

Empty DataFrame
Columns: [1667372818, status]
Index: []

In [27]:
dataCollection('HR.csv', 'HR_Analytics.csv', 1/10, HR_KiÅŸi)

<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)
<ipython-input-6-d1258a45452a>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_push = df_push.append(entry,ignore_index=True)

In [8]:
#IBI PREPROCESSING

df_IBI=pd.read_csv("KiÅŸi.1\Morning\IBI.csv")
df_IBI

      1670322618.000000       IBI
0             10.937500  0.750000
1             11.765625  0.828125
2             12.593750  0.828125
3             13.453125  0.859375
4             14.250000  0.796875
...                 ...       ...
2005        1790.796875  0.703125
2006        1791.562500  0.765625
2007        1792.328125  0.765625
2008        1793.093750  0.765625
2009        1793.843750  0.750000

[2010 rows x 2 columns]

In [9]:
IBI_KiÅŸi = df_IBI.copy()
IBI_KiÅŸi

      1670322618.000000       IBI
0             10.937500  0.750000
1             11.765625  0.828125
2             12.593750  0.828125
3             13.453125  0.859375
4             14.250000  0.796875
...                 ...       ...
2005        1790.796875  0.703125
2006        1791.562500  0.765625
2007        1792.328125  0.765625
2008        1793.093750  0.765625
2009        1793.843750  0.750000

[2010 rows x 2 columns]

In [10]:
IBI_KiÅŸi.drop(IBI_KiÅŸi.index, inplace=True)
IBI_KiÅŸi

Empty DataFrame
Columns: [1670322618.000000,  IBI]
Index: []

In [32]:
dataCollection('IBI.csv', 'IBI_Analytics.csv', 1/64, IBI_KiÅŸi)